body {
  margin-bottom: 10px;
}

#inputAct,
#inputFriends,
#inputCreativity {
  width: 200px;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 200px;
}

option {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.radio input {
  text-align: left;
  display: inline;
}

.radio {
  text-align: center;
}

h2 {
  font-size: 1.25em;
  margin: 15px 0;
}

form {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 50px 0 50px 40px;
}

.container {
  display: flex;
  width: 400px;
  background-color: #ffffff;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

button {
  width: 150px;
  margin: 15px 0;
}

ul.responses {
  width: 40%;
}

.responses h1 {
  margin: 0 0 15px 0;
}
.responses li {
  width: fit-content;
  margin: 20px 40px;
  padding: 15px;
  background-color: #96d6ef;
  border: 1px solid black;
  border-radius: 10px;
}

body > h1,
body > p {
  margin: 40px;
}
