<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
    <title>Stumble upon your life!</title>
  </head>
  <body>
    <h1>Stumble upon your life!</h1>
    <p>The web app that lets you discover new passions and live your best life.</p>
    <form
      action="/requestActivity"
      method="POST"
      id="requestActivity"
      onsubmit="subButton.disabled = true; return true;"
    >
      <section class="container">
        <h2>Creativity</h2>
        <input
          type="range"
          value="50"
          step="10"
          class="slider"
          form="requestActivity"
          name="creativity"
          id="inputCreativity"
        />
        <div class="radio">
          <h2>Inside, outside, or no preference?</h2>
          <input form="requestActivity" value="outside" type="radio" name="environment" />
          <label for="outside">Outside</label>
          <input form="requestActivity" value="inside" type="radio" name="environment" />
          <label for="inside">Inside</label>
          <input form="requestActivity" value="any" type="radio" name="environment" checked />
          <label for="both">Any</label>
        </div>
        <div>
          <h2>How many are you?</h2>
          <input
            id="inputFriends"
            type="range"
            value="1"
            step="1"
            max="4"
            min="1"
            class="slider"
            form="requestActivity"
            name="numFriends"
            list="inputFriends"
          />
          <datalist id="inputFriends">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
            <option value="4" label="4+"></option>
          </datalist>
        </div>
        <div>
          <h2>What do you usually like?</h2>
          <input form="requestActivity" type="text" id="addInfo" name="moreInfo" maxlength="100" />
        </div>
        <div>
          <h2>How many ideas?</h2>
          <input
            id="inputAct"
            type="range"
            value="1"
            step="1"
            max="3"
            min="1"
            class="slider"
            form="requestActivity"
            name="inputAct"
            list="marks"
          />
          <datalist id="marks">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
          </datalist>
        </div>
        <button name="subButton" form="requestActivity" type="submit">Serendipity!</button>
      </section>
    </form>
    <ul class="responses">
      <% for (let i = 0; i < pushAnswer.length; i++) { %>
      <li>
        <h1><%= pushAnswer[i][0] %></h1>
        <p><%= pushAnswer[i][1] %></p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
